{% extends "base/base.html" %}
{% load bootstrap3 l10n i18n %}

{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h2>Upload file</h2>
    <form action="." method="post" accept-charset="utf-8" class="form" enctype="multipart/form-data">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% buttons %}
        <button type="submit" class="btn btn-primary">
          {% bootstrap_icon "upload" %} Submit
        </button>
      {% endbuttons %}
    </form>
  </div>
</div>
{% if objects %}
<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-12">
      <h2>Inserted objects</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>{{ obj_headers.purchaser_name }}</th>
            <th>{{ obj_headers.item_description }}</th>
            <th>{{ obj_headers.item_price }}</th>
            <th>{{ obj_headers.purchase_count }}</th>
            <th>{{ obj_headers.merchant_address }}</th>
            <th>{{ obj_headers.merchant_name }}</th>
          </tr>
        </thead>
        <tbody>
          {% for obj in objects %}
          <tr>
            <td>{{ obj.purchaser_name }}</td>
            <td>{{ obj.item_description }}</td>
            <td>{% localize on %}{{ obj.item_price }}{% endlocalize %}</td>
            <td>{{ obj.purchase_count }}</td>
            <td>{{ obj.merchant_address }}</td>
            <td>{{ obj.merchant_name }}</td>
          </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <th colspan="2" class="text-right">{% trans "Total revenue:" %}</th>
            <th colspan="2">{% localize on %}{{ revenue }}{% endlocalize %}</th>
            <th colspan="2"></th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  {% endif %}
{% endblock content %}





